pip install dash==0.26.3                  # The core dash backend
pip install dash-html-components==0.12.0  # HTML components
pip install dash-core-components==0.28.0  # Supercharged components




pip install dash
pip install dash-auth
pip install dash-renderer
pip install dash-core-components
pip install dash-html-components
pip install plotly (requirement may be satisfied, see above)

Install a new dependency gunicorn for deploying the app:
pip install gunicorn